#whole {
  position:fixed;
  overflow:auto;
  z-index:1;
  left:25%;
  right:25%;
}
#welcome {
  position:absolute;
  overflow:auto;
  z-index:4;
  width:100%;
  height:80%;
  top:5%;
  left:25%;
  right:25%;
}
#introduction {
  position:fixed;
  overflow:visible;
  z-index:5;
  width:45%;
  height:200px;
  top:12%;
  bottom:30%;
  left:27%;
  right:27%;
}
#button1 {
  left:32%;
  z-index:6;
}
#button2 {
  right:32%;
  z-index:6;
}
.no {
  position:fixed;
  overflow:visible;
  z-index:6;
  /*width:;
  height:;
  top:;
  left:25%;
  right:25%;*/
}
.go {
  position:fixed;
  overflow:visible;
  z-index:6;
  /*width:;
  height:;
  top:;
  left:25%;
  right:25%;*/
}
#gameover {
  position:fixed;
  overflow:visible;
  z-index:3;
  top:50%;
  bottom:40%;
  opacity:0;
  left:27%;
  right:27%;
  font-size:0.8cm;
  text-align:center;
  text-decoration:blink;
}

.button {
  position:fixed;
  overflow:visible;
  z-index:6;
  bottom:30%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 9px 20px;
  border: 10px solid #accd26;
  border-radius: 26px;
  background: #accd26;
  background: -webkit-gradient(linear, left top, left bottom, from(#accd26), to(#accd26));
  background: -moz-linear-gradient(top, #accd26, #accd26);
  background: linear-gradient(to bottom, #accd26, #accd26);
  -webkit-box-shadow: #c8caca 6px 6px 0px 0px;
  -moz-box-shadow: #c8caca 6px 6px 0px 0px;
  box-shadow: #c8caca 6px 6px 0px 0px;
  font: normal normal bold 21px arial;
  color: #ffffff;
  text-decoration: none;

}
.button:hover,
.button:focus {
  border: 10px solid #c6ec2c;
  background: #cef62e;
  background: -webkit-gradient(linear, left top, left bottom, from(#cef62e), to(#cef62e));
  background: -moz-linear-gradient(top, #cef62e, #cef62e);
  background: linear-gradient(to bottom, #cef62e, #cef62e);
  color: #ffffff;
  text-decoration: none;
}
.button:active {
  background: #677b17;
  background: -webkit-gradient(linear, left top, left bottom, from(#677b17), to(#accd26));
  background: -moz-linear-gradient(top, #677b17, #accd26);
  background: linear-gradient(to bottom, #677b17, #accd26);
}
